*{
	margin:0;
	padding: 0;
}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
.container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #FFFEE1;
	overflow: hidden;
}
/*******************************************
*****************Header*********************
*******************************************/
.header{
	width: 90%;
	height: auto;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.heading-logo{
	width: 10%;
	float: left;
	padding-top: 20px; 
}
.heading-logo img{
	width: 84px;
	border-top: 1px solid #7F8000;
	border-left: 2px solid #7F8000;
	border-bottom: 2px solid #7F8000;
	border-right: 1px solid #7F8000;
	border-radius: 10px;
  	animation: logoPopup 2.3s infinite;
  	-webkit-animation: logoPopup 2.3s infinite;
  	-webkit-animation-timing-function: ease-in-out;
  	animation-timing-function: ease-in-out;
}

@keyframes logoPopup {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  14% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  28% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }

  41% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
 }

.heading-text{
	width: 90%;
	float: left;
}
.heading-text h1{
	padding-top: 20px;
	font-size: 40px;
	color: #7F8000;
	font-family: monotype corsiva ;
	animation:topToBottom 1s infinite;
	-webkit-animation:topToBottom 1s infinite;
}

@keyframes topToBottom {
	  0% {
	    -webkit-transform: translate3d(0, 0%, 0);
	    transform: translate3d(0, 0%, 0);
	  }
	  100% {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 70%, 0);
	    transform: translate3d(0, 70%, 0);
	  }
}

.heading-text p{
	position: relative;
	font-family: Chaparral Pro Light;
	font-weight: bold;
	height: auto;
	animation:BottomToTop 1s infinite;
	-webkit-animation:BottomToTop 1s infinite;
}

@-webkit-keyframes BottomToTop {
  from { bottom:-0px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes BottomToTop { 
  from{ bottom:-30px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.heading-animation{
	width: 200%;
	height: 100%;
	clear: both;
	animation: slideshow 20s infinite;
	-webkit-animation: slideshow 20s infinite;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

@keyframes slideshow{
	0%{
		animation-delay: 1s;
		margin-left: 0%;
	}

	75%{
		animation-delay: 1s;
		margin-left: -100%;
	}

	100%{
		animation-delay: 1s;
		margin-right: 100%;
	}
}


.slide{
	text-align: center;
	width: 50%;
	height: 100%;
	float: left;
}

.slide1 p{
	background-color:#DCC865;
	padding: 8px;
}

.slide2 p{
	background-color: #7F8000;
	color: #ffffff;
	padding: 8px;
}
/*******************************************
*****************Banner*********************
*******************************************/
.banner{
	width: 90%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.header-image-1{
	width: 100%;
	height: 600px;
	overflow: hidden;
	background-image: url("../images/intro_img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

p.image1Description{
	background-color: #ddd;
	width: 150px;
	padding: 5px;
	border:1px solid black;
	visibility: hidden;
}

.hiddenPart{
	width:50%;
	height:600px;
	left: 50%;
	position: absolute;
}
.hiddenPart:hover p.image1Description{
	visibility: visible;
	position: absolute;
	top: 25%;
	left: 25%;
}
.intro-1{
	position: absolute;
	top:200px;
	left: 50px;
}

.intro-1 p{
	border:3px solid #fff;
	background-color: #B5B2B3;
	padding: 40px 30px;
	line-height: 20px;
}


.header-image-2{
	width: 100%;
	height: 600px;
	margin-top: 20px;
	overflow: hidden;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(135, 211, 124, 0.3)), 
					url("../images/intro_img1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	position: relative;

}

.intro-2{
	position: absolute;
	top:50px;
	left: 50%;
	transform: translateX(-50%);
}

.intro-2 p{
	color: #fff;
	padding: 25px;
	line-height: 20px;
}

/*******************************************
*************Collection-one****************
*******************************************/
#collection-one{
	position: relative;
	height: 100%;
	width: 100%;
}

.collection-one{
	width: 100%;
}

.collection-one:after{
	content: "";
	display: table;
	clear: both;
}

.collection-one h3{
	padding: 20px 10px 10px 10px;
	margin-left: 5%;
	width: 90%;
	color: #7F8000;
}
.collection-one hr{
	width: 90%;
	height: 1px;
	background-color: #7F8000;
	margin:10px auto;
}
.column-size{
	margin-top: 50px;
	width: 33.33%;
	float: left;
	height: 500px;
}

.column-size img{
	width: 300px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.column-size p{
	text-align: center;
	padding: 5px;
}
.column-size p.first{
	color: #7F8000;
	font-weight: bold;
	font-size: 13px;
}
.column-size p.second{
	font-size: 20px;
}

.column-size .button1{
	width: 100px;
	margin: 25px auto;
	text-align: center;
}

.button1 a{
	padding: 12px;
	background-color: #212320;;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	text-align: center;
}

.column-size .button1:hover a{
	background-color: #ddd;
	color: #000;
}

/*****************************/
/******Collection-1***********/
/********Modal****************/
/*****************************/
.secondDisplay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   transition: opacity 300ms;
   visibility: hidden;
   background: rgba(0,0,0,0.5);
   opacity: 0;
}
.secondDisplay:target{
   visibility: visible;
   opacity: 1;
}
.overlay-main{
    background: #fff;
    width: 35%;
    height: 400px;
    margin: 50px auto;
    position: relative;
}

.close {
    position: absolute; 
    top:6px;
    right:0;
    
}
.close a{
	padding: 6px;
    font-weight: 500;
    color: #000;
    background-color: #D3D3D3;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.overlay-body{
	width: 80%;
	position: absolute;
	top: 30px;
	left: 50px;
}
.overlay-body p{
	font-size: 13px;
}
.overlay-body hr{
	margin-top: 11px;
	width: 100%;
	height: 2px;
	background-color: #D3D3D3;
	border: none;
}

.product-review{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 170px;
}

.product-review-image{
	width: 50%;
	height: 170px;
	float: left;
}
.product-review-image img{
	width: 150px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
.product-review-text{
	width: 50%;
	height: 170px;
	float: left;
}

.product-review-text p{
	padding: 5px 0;
}

.product-review-text p.first{
	font-size: 11px;
}

.product-review-text p.second{
	font-size: 16px;
}

.continue-shoping{
	width: 100%;
	height: 100px;
	background-color: #D3D3D3;
	position: absolute;
	top: 260px;
	left: 0;
}

.continue-shoping p{
	padding: 5% 5% 2% 5%;
	font-size: 11px;
}

.continue-shoping hr{
	width: 90%;
	height: 2px;
	background-color: #fff;
	border: none;
	margin: 0 auto;
}

.continue-shoping a{
	padding: 10px;
	background-color: #fff; 
	font-size: 10px;
	position: absolute;
	top: 65px;
	left: 20px;
	color: #000;
	text-decoration: none;
}

/*******************************************
*************Collection-two****************
*******************************************/
#collection-two {
	position: relative;
	height: 100%;
	width: 100%;
}
.collection-two{
	clear: both;
	width: 100%;
	height: 500px;
}

.collection-two:after{
	content: "";
	display: table;
	clear: both;
}
.collection-two h3{
	padding: 20px 10px 10px 10px;
	margin-left: 5%;
	width: 90%;
	color: #7F8000;
}
.collection-two hr{
	width: 90%;
	height: 1px;
	background-color: #7F8000;
	margin:10px auto;
}
.collection-two .column-size-two{
	width: 33.33%;
	float: left;
	height: 550px;
}

.collection-two .column-size-two img{
	width: 300px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.collection-two .column-size-two p{
	text-align: center;
	padding: 5px;
}
.collection-two .column-size-two p.first-paragraph{
	color: #7F8000;
	font-weight: bold;
	font-size: 13px;
}
.collection-two .column-size-two p.second-paragraph{
	font-size: 20px;
}


.collection-two .column-size-two .button2{
	width: 100px;
	margin: 25px auto;
	text-align: center;
}

.collection-two .button2 a{
	padding: 12px;
	background-color: #212320;;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	text-align: center;
}

.collection-two .column-size-two .button2:hover a{
	background-color: #ddd;
	color: #000;
}


/*****************************/
/******Collection-2***********/
/********Modal****************/
/*****************************/
.collection-two .thirdDisplay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   transition: opacity 300ms;
   visibility: hidden;
   background: rgba(0,0,0,0.5);
   opacity: 0;
}
.collection-two .thirdDisplay:target {
   visibility: visible;
   opacity: 1;
}
.collection-two .second-overlay{
    background: #fff;
    width: 35%;
    height: 450px;
    margin: 50px auto;
    position: relative;
}

.collection-two .second-close {
    position: absolute; 
    top:6px;
    right:0;
    
}
.collection-two .second-close a{
	padding: 6px;
    font-weight: 500;
    color: #000;
    background-color: #D3D3D3;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.collection-two .overlay-body-two{
	width: 80%;
	position: absolute;
	top: 30px;
	left: 50px;
}
.collection-two .overlay-body-two p{
	font-size: 13px;
}
.collection-two .overlay-body-two hr{
	margin-top: 11px;
	width: 100%;
	height: 2px;
	background-color: #D3D3D3;
	border: none;
}

.collection-two .product-review{
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 170px;
}

.collection-two .product-review-image{
	width: 50%;
	height: 170px;
	float: left;
}
.collection-two .product-review-image img{
	width: 150px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
.collection-two .product-review-text{
	width: 50%;
	height: 170px;
	float: left;
}

.collection-two .product-review-text p{
	padding: 5px 0;
}

.collection-two .product-review-text p.first-paragraph{
	font-size: 11px;
}

.collection-two .product-review-text p.second-paragraph{
	font-size: 16px;
}

.collection-two .continue-shoping{
	width: 100%;
	height: 140px;
	background-color: #D3D3D3;
	position: absolute;
	top: 250px;
	left: 0;
}

.collection-two .continue-shoping p{
	padding: 5% 5% 2% 5%;
	font-size: 12px;
}

.collection-two .continue-shoping hr{
	width: 90%;
	height: 2px;
	background-color: #fff;
	border: none;
	margin: 0 auto;
}

.collection-two .continue-shoping a{
	padding: 10px;
	background-color: #fff; 
	font-size: 10px;
	position: absolute;
	top: 100px;
	left: 20px;
	color: #000;
	text-decoration: none;
}


/*******************************************
***************Footer**********************
*******************************************/

.footer{
	width: 100%;
	height: 430px;
	background-color: #232323;
	overflow: hidden;
}

.section{
	width: 25%;
	height:100px;
	color: #C7CDD3;
	float: left;
	text-align: center;
	margin-top: 35px;
}
.section b{
	font-family: sans-serif;
	font-size: 13px;
	padding:5px 0;
}
.section a{
	text-decoration: none;
	color: #C7CDD3;
	display: block;
	font-family: sans-serif;
	font-size: 11px;
	padding:5px 0;
}
.inner-section1{
	width: 70%;
	margin: 0 auto;
}

.inner-section2{
	width: 70%;
	margin: 0 auto;
}

.inner-section3{
	width: 70%;
	margin: 0 auto;
}	

.inner-section4{
	width: 70%;
	margin: 0 auto;
}


.seperator hr{
	width: 90%;
	height: 0.5px;
	margin: 0 auto;
	background-color: #C7CDD3;
}

.social{
	width: 90%;
	margin: 20px auto;
}

.social h5{
	padding-top: 25px;
	text-align: right;
	font-family: sans-serif;
	color: #C7CDD3;
}

.icons ul{
	list-style-type: none;
	float: right;
}

.icons ul li{
	display: inline-block;
	padding: 18px 12px;
}


.icons ul li img{
	width: 40px;
}


.credit p{
	color: #C7CDD3;
	text-align: center;
	padding-top: 150px;
	font-family: sans-serif;
	font-size: 13px;
}

.credit2 p{
	color: #C7CDD3;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px;
	padding: 7px 0;
}




