/** ======================================== **/
/** ================Home================== **/
/** ======================================== **/

/******** Bootsrap Navbar Customization**********/
.navbar-custom {
    background-color: rgba(0, 0, 0, 1);
	border-color: rgba(231, 231, 231, 0);
}
.navbar.scrolled{
    background: black;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;  
    letter-spacing: 1px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #82C91E;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-custom .navbar-icon i{
	font-size: 30px;
	color:#28A745;
}
.navbar-custom a.navbar-brand{
	font-size: 20px;
	font-weight: 500;
	padding-left: 5px;
	float: left;
	color:#fff;
}

.navbar-custom a.active {
    color: #28A745!important;
    animation: logoPopupFirst 2.3s infinite;
  	-webkit-animation: logoPopupFirst 2.3s infinite;
  	-webkit-animation-timing-function: ease-in-out;
  	animation-timing-function: ease-in-out;
} 

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover a.slash {
    color: white;
}


/** ======================================== **/
/** =============About================== **/
/** ======================================== **/	
#about {
	background-color: #fff;
	overflow: hidden;
}

#about .container-fluid{
	padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}
.about-left{
	width: 100%;
	height:100vh;
	background-color: #fff;
}

.about-left-text{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #000;
}

.about-left-text h4{
	text-align: center;
	padding: 50px 0 20px 0;
}

.about-left-text p{
	padding: 0 50px 15px 50px;
}
.about-left-text span.about-icon i{
	font-size: 30px;
	color:#fff;
}

.about-right {
	margin-top: 30px;
	width: 100%;
	height: 500px;
	background-image:url("../images/photographer-3672075_640.jpg");
	background-repeat: no-repeat;
    background-position: center center;
		-webkit-background-size: 100% 100%;
		-moz-background-size:100% 100%;
		-o-background-size:100% 100%;
    background-size:100% 100%;
}

/** ======================================== **/
/** ================portfolio================== **/
/** ======================================== **/


